<div class="main">
    <div class="navbar">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="contactForm px-60 mt-10">
        <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Personal Information</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">Use a permanent address where you can receive mail.</p><hr>

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                        <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">First name</label>
                        <div class="mt-2">
                            <input type="text" name="firstname" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset p-1 ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-black sm:text-sm sm:leading-6" formControlName="firstname" [ngClass]="{'isInvalid':submit&&getControls().firstname.invalid}"/>
                        </div>
                        <div *ngIf="submit&&getControls().firstname.errors">
                            <span *ngIf="getControls()?.firstname?.errors?.['required']" class="text-red-600">Firstname is Required</span>
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
                        <div class="mt-2">
                            <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset p-1 ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-black sm:text-sm sm:leading-6" formControlName="lastname" [ngClass]="{'isInvalid':submit&&getControls().lastname.invalid}"/>
                        </div>
                        <div *ngIf="submit&&getControls().lastname.errors">
                            <span *ngIf="getControls()?.lastname?.errors?.['required']" class="text-red-600">Firstname is Required</span>
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Mobile</label>
                        <div class="mt-2">
                            <input type="number" name="number" id="number" autocomplete="given-mobile" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm p-1 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-black sm:text-sm sm:leading-6" formControlName="number" [ngClass]="{'isInvalid':submit&&getControls().number.invalid}"/>
                        </div>
                        <div *ngIf="submit&&getControls().number.errors">
                            <span *ngIf="getControls()?.number?.errors?.['required']" class="text-red-600">Number is Required</span>
                            <span *ngIf="getControls()?.number?.errors?.['pattern']" class="text-red-600">Enter a valid number</span>
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                        <div class="mt-2">
                            <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm p-1 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-black sm:text-sm sm:leading-6" formControlName="email" [ngClass]="{'isInvalid':submit&&getControls().email.invalid}"/>
                        </div>
                        <div *ngIf="submit&&getControls().email.errors">
                            <span *ngIf="getControls()?.email?.errors?.['required']" class="text-red-600">Firstname is Required</span>
                            <span *ngIf="getControls()?.email?.errors?.['email']" class="text-red-600">Enter a valid email</span>
                        </div>
                    </div>

                    <div class="col-span-full">
                        <label for="street-address" class="block text-sm font-medium leading-6 text-gray-900">Street address</label>
                        <div class="mt-2">
                            <input type="text" name="address" id="address" autocomplete="street-address" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 p-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-black sm:text-sm sm:leading-6" formControlName="address" [ngClass]="{'isInvalid':submit&&getControls().address.invalid}"/>
                        </div>
                        <div *ngIf="submit&&getControls().address.errors">
                            <span *ngIf="getControls()?.address?.errors?.['required']" class="text-red-600">Address is Required</span>
                        </div>
                    </div>

                    <div class="sm:col-span-2 sm:col-start-1">
                        <label for=" postal-code" class="block text-sm font-medium leading-6 text-gray-900"> ZIP / Postal code</label>
                        <div class="mt-2">
                            <input type="number" name="zipcode" id="zipcode" autocomplete="postal-code" (input)="getPincode($event)" class="block w-full p-1 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-black sm:text-sm sm:leading-6" formControlName="zipcode" [ngClass]="{'isInvalid':submit&&getControls().zipcode.invalid}"/>
                        </div>
                        <div *ngIf="submit&&getControls().zipcode.errors">
                            <span *ngIf="getControls()?.zipcode?.errors?.['required']" class="text-red-600">Zip code is Required</span>
                            <span class="text-red-600">{{ error }}</span>
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="region" class="block text-sm font-medium leading-6 text-gray-900">State / Province</label>
                        <div class="mt-2">
                            <input type="text" name="state" id="state" autocomplete="address-level1" [(ngModel)]="state" class="block w-full rounded-md border-0 py-1.5 p-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-black sm:text-sm sm:leading-6" formControlName="state" [ngClass]="{'isInvalid':submit&&getControls().state.invalid}"/>
                        </div>
                        <div *ngIf="submit&&getControls().state.errors">
                            <span *ngIf="getControls()?.state?.errors?.['required']" class="text-red-600">State is Required</span>
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="city" class="block text-sm font-medium leading-6 text-gray-900">City</label>
                        <div class="mt-2">
                            <input type="text" name="city" id="city" autocomplete="address-level2" [(ngModel)]="city" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset p-1 ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-black sm:text-sm sm:leading-6" formControlName="city" [ngClass]="{'isInvalid':submit&&getControls().city.invalid}"/>
                        </div>
                        <div *ngIf="submit&&getControls().city.errors">
                            <span *ngIf="getControls()?.city?.errors?.['required']" class="text-red-600">City is Required</span>
                        </div>
                    </div>

                    <div class="col-span-full">
                        <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Country name</label>
                        <div class="mt-2">
                            <input type="text" name="country" id="country" autocomplete="country" [(ngModel)]="country" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset p-1 ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:to-black sm:text-sm sm:leading-6" formControlName="country" [ngClass]="{'isInvalid':submit&&getControls().country.invalid}"/>
                        </div>
                        <div *ngIf="submit&&getControls().country.errors">
                            <span *ngIf="getControls()?.country?.errors?.['required']" class="text-red-600">Country is Required</span>
                        </div>
                    </div>

                </div>
                <div class="space-y-12">
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="col-span-full">
                            <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Upload Resume</label>
                            <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                                <div class="text-center">
                                    <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                                    </svg>
                                    <div class="mt-4 flex text-sm leading-6 text-gray-600">
                                        <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                                        <input type="file" name="resume"  formControlName="resume" (change)="uploadFile($event)">
                                        </label>
                                        <p class="pl-1">select yours</p>
                                    </div>
                                    <p class="text-xs leading-5 text-gray-600">PDF Only up to 2MB</p>
                                </div>
                            </div>
                            <span class="text-red-600 text-center">{{ sizeError }}</span>
                            <div *ngIf="submit&&getControls().resume.errors">
                                <span *ngIf="getControls()?.resume?.errors?.['required']" class="text-red-600 text-center">Resume is Required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class='py-3 px-6 w-[70%] my-4 bg-black text-white rounded-[30px] text-center ml-[120px]'>Get Started</button>
            </div>
        </form>
    </div>
</div>



