<div name='home' class='w-full h-screen bg-white-200 flex flex-col justify-between shadow-lg'>
    <div class='grid md:grid-cols-2 max-w-[1240px] m-auto'>
        <div class='flex flex-col justify-center md:items-start w-full px-2 py-8'>
            <p class='text-2xl'>Find the right job or internship for you</p>
            <h1 class='py-3 text-5xl md:text-7xl font-bold'>Job Search</h1>
            <p class='text-2xl'>Explore collaborative articles</p>
            <button class='py-3 px-6 w-[40%] my-4 bg-black text-white rounded-[30px]'>Get Started</button>
        </div>
        <div>
            <img class='w-full' src='../../../../assets/NA_October_10.jpg' alt="/" />
        </div>
        <div class='absolute flex flex-col py-8 md:min-w-[760px] bottom-[5%]
        mx-1 md:left-1/2 transform md:-translate-x-1/2 bg-zinc-200
        border border-slate-300 rounded-xl text-center shadow-xl'>
            <div class='flex justify-between flex-wrap px-4'>
                <p class='flex px-4 py-2 text-slate-500'>Marketing</p>
                <p class='flex px-4 py-2 text-slate-500'>Engineering</p>
                <p class='flex px-4 py-2 text-slate-500'>Helth Care</p>
                <p class='flex px-4 py-2 text-slate-500'>IT Service</p>
            </div>
        </div>
    </div>
</div><hr>