<div class='navBar flex justify-between items-center shadow-lg p-[1rem]'>
    <div class="logoDiv px-10">
        <h1 class='logo text-[25px] text-blueColor'><strong>Job</strong>Search</h1>
    </div>
    <div class='menu flex gap-8 pr-10'>
        <li class="menuList text-[#6f6f6f] hover:text-blueColor" [routerLink]="['/home']">Home</li>
        <li class="menuList text-[#6f6f6f] hover:text-blueColor" [routerLink]="['/contact']">Contact us</li>
        <li class="menuList text-[#6f6f6f] hover:text-blueColor">Sign up</li>
        <li class="menuList text-[#6f6f6f] hover:text-blueColor">Sign in</li>
    </div>
</div>